*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "playfair display", sans-serif;
}


nav{
 
    padding: 20px 40px 20px 40px;
    background-color:black;
    color: darkblue;

   
}

nav div{
     display: flex;
    justify-content: space-between;
    /* line k center me ayega */
    align-items: center;
    padding: 0;

}

ul{
    display: flex;
    /* dots nikal jayemnge */
    list-style: none;
    
}

li a{
    /* list k content ko color diya */
    color: rgb(255, 255, 255);
    /* dono nam k bich me gap ajyegi */
    padding: 10px;
    /* text ki underline remove karne k liye use huA */
    text-decoration: none;
    /* TEXT thickness badega */
    font-weight: 700;
}

/* hover krne k liye */
nav a:hover{
    color: rgb(204, 66, 66);
    /* background color laga skte hai or shadow bhi */
    /* background-color: blueviolet; */
    /* loading ya kuch bhi diff cursor dikhana hai vo dikha skte hai */
    /* cursor: progress; */
}

nav li:last-child{
    background-color: rgb(239, 81, 81);
    padding: 5px 12px;
    border-radius: 6px;
}

nav li:last-child a:hover{
    /* background-color: rgb(131, 15, 173); */
    color: rgb(243, 216, 9);
}

/* sirf home ko style kiya */
nav a.active{
    color: rgb(255, 44, 44);
    font-weight: bold;
    border-bottom: 2px solid rgb(208, 228, 72);
}

div img{
    padding-bottom: 1px;    
    padding-top: 1px;

}

.hero{
    height: 90vh;
    background-image: url("/Bite-Box/images/bannerfood.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero button{
    margin-top: 15px;
    padding: 10px 20px;
    background-color: red;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;

}

.hero button:hover{
    background-color: darkred;
}

.video-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    gap: 40px;
}

.video-text{
    flex: 1;
}

.video-box{
    flex: 1;
}

.video-box video{
    width: 100%;
    border-radius: 10px;
}

.video-text h2{
    font-size: 32px;
    margin-bottom: 15px;
}

.video-text p{
    font-size: 18px;
    color: #444;
}


/* about section */
.about{
    text-align: center;
    padding: 60px 20px;
    background: #f9f9f9;

}

.about h2{
    font-size: 32px;
    margin-bottom: 20px;
    color: rgb(255, 0, 0, 0.616);
}

.about p{
    max-width: 700px;
    margin: auto;
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}

/* menu card */
.card{
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.1);
}

.card img{
    width: 100%;
    object-fit: cover;
}

.card button{
    background-color: rgb(207, 0, 0);
    color: azure;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.card button:hover{
    background-color: darkred;
}

.menu-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.category-icons{
    display: flex;
    gap: 20px;
    padding: 20px;
    overflow: auto;
    background: #fff;
    justify-content: center;
}

.icon-box{
    max-width: 100px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.icon-box img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid black;
    padding: 5px;
    box-shadow: 0 4px 10px black;
    /* margin-bottom: 15px; */
}

.icon-box p{
    margin-top: 8px;
    font-size: 14px;
}

.icon-box img:hover{
    border-color: rgb(0, 0, 0);
    transform: scale(1.1);
}

.icon-box p:hover{
    color: red;
}

header{
    position: sticky;
    top: 0;
    z-index: 1000;
}
