*{
    padding: o;
    margin: 0;
    box-sizing: border-box;
}


nav{
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    /* line center me agya */
    padding: 20px;
    background-color: lightcyan;
    color: darkblue;
    height: 60px;
   
}

nav div{
     display: flex;
    justify-content: space-between;
    /* line k center me ayega */
    align-items: center;

}

ul{
    display: flex;
    /* dots nikal jayemnge */
    list-style: none;
    
}

li a{
    /* list k content ko color diya */
    color: darkgreen;
    /* dono nam k bich me gap ajyegi */
    padding: 20px;
    /* text ki underline remove karne k liye use huA */
    text-decoration: none;
    /* TEXT thickness badega */
    font-weight: 700;
}

/* hover krne k liye */
nav a:hover{
    color: pink;
    /* background color laga skte hai or shadow bhi */
    background-color: blueviolet;
    /* loading ya kuch bhi diff cursor dikhana hai vo dikha skte hai */
    /* cursor: progress; */
}

nav li:last-child{
    background-color: aquamarine;
    padding: 5px 12px;
    border-radius: 6px;
}

nav li:last-child a:hover{
    background-color: red;
    color: black;
}

/* sirf home ko style kiya */
nav a.active{
    color: blue;
    font-weight: bold;
    border-bottom: 2px solid navy;
}

